<h1>FAC18</h1>
<main>
<ul id="cohort-gallery">
  {{#each cohort}}
  <li class="cohort_member">
    <a href="/cohort/{{user_name}}">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img class="cohort-image" src="{{image_prof}}" alt="professional image">
          </div>
          <div class="flip-card-back">
            <img class="cohort-image" src="{{image_party}}" alt="party image">
          </div>
        </div>
      </div>
      <h2 class="user_name">{{user_name}}</h2>
    </a>
    <p>{{quote}}</p>

  </li>
  {{/each}}
</ul>
</main>