<h1>FAC18 COHORT</h1>

<ul>
  {{#each cohort}}
  <li class="cohort_member">
    <img class="image_prof" src="{{image_prof}}" alt="">
    <img class="image_party" src="{{image_party}}" alt="">
    <a href="/cohort/{{user_name}}"><h2 class="user_name">{{user_name}}</h2></a>
    <p>{{quote}}</p>
  </li>
  {{/each}}
</ul>