<section class="user_profile">
  <img class="profile_image_prof" src="{{image_prof}}" alt="">
  <img class="profile_image_party" src="{{image_party}}" alt="">
  <h1 class="user_name">{{ user_name }}</h1>
  <p>{{quote}}</p>
  <p>{{emoji}}</p>
  <p>{{tea_coffee}}</p>
  <p>{{hogwarts}}</p>
  <p>{{cuisine}}</p>
  <p>{{fruit}}</p>
  <p>{{snack}}</p>
  <p>{{show}}</p>
  <p>{{js}}</p>
  <p>{{pokemon}}</p>
  <p>{{emojigram}}</p>
  <br>
  <a href="/deleteuser?user_name={{ user_name}}">Delete Facster</a>
</section>